<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prueba Técnica</title> 
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Número de serie</th>
                    <th>Fecha de registro</th>
                    <th>Modelo</th>
                    <th>Fabricante</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="equipo:${equipos}">
                    <td th:text="${equipo.Id}"></td>
                    <td th:text="${equipo.serialNum}"></td>
                    <td th:text="${equipo.fechaRegistro}"></td>
                    <td th:text="${equipo.modelo}"></td>
                    <td th:text="${equipo.fabricante}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>